<section>
	<h1>About Me</h1>
	<p>How do things work? Ever since 1987 I’ve fallen in love with thinking about it. That’s how I became a <a href="/about/">digital craftsman</a>.</p>
	<p>
	<a href="https://twitter.com/bzamecnik" class="twitter-follow-button" data-show-count="false">Follow @bzamecnik</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</p>
</section>
