<section>
	<h1>About Me</h1>
	<img src="/images/homepage/bza.jpg" style="max-width: 200px; border-radius: 150px; margin: 5px">
	<p>How do things work? Ever since 1987 I’ve fallen in love with thinking about it. That's how I became a <a href="/about/">software engineer</a>.</p>
	<p>#python · #scala · #
	<abbr title="Machine Learning" data-toggle="tooltip" data-placement="bottom">ml</abbr>
	· #audio · #
	<abbr title="Digital Signal Processing" data-toggle="tooltip" data-placement="bottom">dsp</abbr>
	· #bigdata· #digitalnomad</p>
	<ul>
		<li>
			<a href="https://twitter.com/bzamecnik" class="twitter-follow-button" data-show-count="false">@bzamecnik on Twitter</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/bohumirzamecnik">LinkedIn profile</a>
		</li>
		<li>
			<a href="http://github.com/bzamecnik/">GitHub</a>
		</li>
		<li>
			<a href="http://flickr.com/people/elgriton/">Photos on Flickr</a>
		</li>
	</ul>
</section>
